<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="/img/logo.jpg" />

  <style></style>
  <!-- Primary Meta Tags -->
  <title>Home | vinvi.to</title>
  <meta name="title" content="Home | vinvi.to" />
  <meta name="description" content="Let your creativity flow while creating your own short stories, or reading others. Vinvi.to encourages interaction between authors with the state of the art marketplace. " />
  <link rel="search" type="application/opensearchdescription+xml" title="vinvi.to" href="/search.xml" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.vinvi.to/" />
  <meta property="og:title" content="Home | vinvi.to" />
  <meta property="og:description" content="Let your creativity flow while creating your own short stories, or reading others. Vinvi.to encourages interaction between authors with the state of the art marketplace. " />
  <meta property="og:image" content="/img/thumb.jpg" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="http://www.vinvi.to/" />
  <meta property="twitter:title" content="Home | vinvi.to" />
  <meta property="twitter:description" content="Let your creativity flow while creating your own short stories, or reading others. Vinvi.to encourages interaction between authors with the state of the art marketplace. " />
  <meta property="twitter:image" content="/img/thumb.jpg" />

  <meta name="theme-color" content="#84cc16" />

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="../dist/output.css" />
</head>
<body id="body">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet" />

  <div class="selection:bg-accent selection:text-black">
    <div class="min-h-screen w-screen sm:flex">
      <%- include('../partials/loggedOutSidebar'); %> <%- include('../partials/loggedInSidebar'); %>
      <div class="max-h-screen min-h-screen w-full overflow-hidden overflow-y-auto bg-black">
        <%- include('../partials/topbar') %>
        <!-- section one -->
        <div class="p-5 py-10">
          <div class="relative mb-3 flex w-fit">
            <h1 class="z-20 font-titles text-xl font-semibold tracking-widest text-white">Home</h1>
            <div class="absolute -z-0 h-1/2 w-full translate-y-4 translate-x-3 bg-slate-700"></div>
          </div>
          <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-7 pb-5">
            <% if (feed.length > 0) { %> <% for (let i = 0; i < feed.length; i++) { %> <%- include("../partials/storyTile.ejs", { metadata: feed[i] }) %> <% } %> <% } else { %>
            <p class="text-slate-400">No stories yet.</p>
            <% } %>
          </div>
        </div>
      </div>

      <!-- login -->
      <%- include('../partials/login'); %>
      <!-- signup -->
      <%- include('../partials/signup'); %>
    </div>
  </div>
</body>
