<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="https://cdn.discordapp.com/emojis/955465895793283073.webp?size=128&amp;quality=lossless" />
  <style></style>
  <!-- Primary Meta Tags -->
  <title><%= metadata.username %> | vinvi.to</title>
  <meta name="title" content="<%= metadata.username %> | vinvi.to" />
  <meta name="description" content="Let your creativity flow while creating your own short stories, or reading others. Vinvi.to encourages interaction between authors with the state of the art marketplace. " />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.vinvi.to/" />
  <meta property="og:title" content="<%= metadata.username %> | vinvi.to" />
  <meta property="og:description" content="Let your creativity flow while creating your own short stories, or reading others. Vinvi.to encourages interaction between authors with the state of the art marketplace. " />
  <meta property="og:image" content="" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="http://www.vinvi.to/" />
  <meta property="twitter:title" content="<%= metadata.username %> | vinvi.to" />
  <meta property="twitter:description" content="Let your creativity flow while creating your own short stories, or reading others. Vinvi.to encourages interaction between authors with the state of the art marketplace. " />
  <meta property="twitter:image" content="" />

  <meta name="theme-color" content="#2469df" />

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="../dist/output.css" />
</head>
<body>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet" />

  <div class="selection:bg-accent selection:text-black">
    <div class="min-h-screen w-screen sm:flex">
      <%- include('../partials/loggedOutSidebar'); %> <%- include('../partials/loggedInSidebar'); %>
      <div class="max-h-screen min-h-screen w-full overflow-hidden overflow-y-auto bg-black">
        <%- include('../partials/topbar') %>
        <!-- section one -->
        <div class="p-5 py-10">
          <div class="flex w-full justify-between gap-5 border-b border-slate-600 pb-10 sm:items-center">
            <div class="flex flex-col gap-5 sm:flex-row sm:items-center">
              <div class="h-36 w-36 rounded-md bg-blue-200 bg-cover drop-shadow-[7px_7px_0_#84cc16]" style="background-image: url('<% if (metadata.cover) { %><%= metadata.cover %><% } else { %><%= '/img/default-user.png' %><% } %>')"></div>
              <div>
                <h1 class="truncate pt-2 text-xl font-semibold text-white"><%= metadata.username %></h1>
                <!-- bio -->
                <p class="text-sm text-gray-400 mt-2">property of vinvi.to</p>
                <!-- followers -->
                <p class="hidden pt-5 text-sm text-gray-400"><span class="text-accent">23</span> Followers <span class="pl-5 text-accent">978</span> Following</p>
              </div>
            </div>
            <!-- follow button -->
            <button class="hidden float-right mt-44 h-min bg-accent p-2 duration-300 hover:drop-shadow-[7px_7px_0_#334155] sm:mt-0">Follow</button>
          </div>

          <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-7 pb-5">
            <% if (metadata.createdStories.length > 0) { %> <% for (let i = 0; i < metadata.createdStories.length; i++) { %> <%- include("../partials/storyTile.ejs", { metadata: metadata.createdStories[i] }) %> <% } %> <% } else { %>
            <div class="mt-5">
              <p class="text-slate-400">This user hasn't created any stories yet.</p>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
