<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="https://cdn.discordapp.com/emojis/955465895793283073.webp?size=128&amp;quality=lossless" />
  <style></style>
  <!-- Primary Meta Tags -->
  <title><%= metadata.username %> | vinvi.to</title>
  <meta name="title" content="<%= metadata.username %> | vinvi.to" />
  <meta name="description" content="Let your creativity flow while creating your own short stories, or reading others. Vinvi.to encourages interaction between authors with the state of the art marketplace. " />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.vinvi.to/" />
  <meta property="og:title" content="<%= metadata.username %> | vinvi.to" />
  <meta property="og:description" content="Let your creativity flow while creating your own short stories, or reading others. Vinvi.to encourages interaction between authors with the state of the art marketplace. " />
  <meta property="og:image" content="" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="http://www.vinvi.to/" />
  <meta property="twitter:title" content="<%= metadata.username %> | vinvi.to" />
  <meta property="twitter:description" content="Let your creativity flow while creating your own short stories, or reading others. Vinvi.to encourages interaction between authors with the state of the art marketplace. " />
  <meta property="twitter:image" content="" />

  <meta name="theme-color" content="#2469df" />

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="../dist/output.css" />
</head>
<body>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet" />

  <div class="selection:bg-accent selection:text-black">
    <div class="min-h-screen w-screen sm:flex">
      <%- include('../partials/loggedOutSidebar'); %> <%- include('../partials/loggedInSidebar'); %>
      <div class="max-h-screen min-h-screen w-full overflow-hidden overflow-y-auto bg-black">
        <%- include('../partials/topbar') %>
        <!-- section one -->
        <div class="p-5 py-10">
          <div class="flex w-full justify-between gap-5 border-b pb-10 sm:items-center">
            <div class="flex flex-col gap-5 sm:flex-row sm:items-center">
              <div class="h-36 w-36 rounded-md bg-blue-200 bg-cover drop-shadow-[7px_7px_0_#84cc16]" style="background-image: url('<% if (metadata.cover) { %><%= metadata.cover %><% } else { %><%= 'https://images.unsplash.com/photo-1507692812060-98338d07aca3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80' %><% } %>')"></div>
              <div>
                <h1 class="truncate pt-2 text-xl font-semibold text-white"><%= metadata.username %></h1>
                <!-- bio -->
                <p class="hidden text-sm text-gray-400">About You Bio</p>
                <!-- followers -->
                <p class="hidden pt-5 text-sm text-gray-400"><span class="text-accent">23</span> Followers <span class="pl-5 text-accent">978</span> Following</p>
              </div>
            </div>
            <!-- follow button -->
            <button class="hidden float-right mt-44 h-min bg-accent p-2 duration-300 hover:drop-shadow-[7px_7px_0_#334155] sm:mt-0">Follow</button>
          </div>

          <div class="flex snap-x overflow-x-scroll pb-5">
            <% if (metadata.createdStories.length > 0) { %> <% for (let i = 0; i < metadata.createdStories.length; i++) { %> <%- include("../partials/storyTile.ejs", { metadata: metadata.createdStories[i] }) %> <% } %> <% } else { %>
            <p class="text-slate-400">This user hasn't created any stories yet.</p>
            <% } %>
          </div>
        </div>
      </div>

      <!-- login -->
      <div class="fixed top-0 left-0 flex hidden h-screen w-full items-center justify-center bg-black bg-opacity-60">
        <div class="fixed flex h-min flex-col items-center space-y-4 border-4 border-accent bg-black p-10 drop-shadow-[7px_7px_0_#84cc16]">
          <div class="relative mb-3 flex w-fit select-none">
            <h1 class="z-20 font-titles text-xl font-semibold tracking-widest text-white">Login</h1>
            <div class="absolute -z-0 h-1/2 w-full translate-y-4 translate-x-3 bg-slate-700"></div>
          </div>
          <input class="bg-opacity- h-10 w-full rounded-sm bg-[#1c1c1c] px-4 pr-10 text-slate-400 outline-none duration-300 placeholder:text-slate-500 focus:drop-shadow-[7px_7px_0_#84cc16]" placeholder="Username" />
          <input class="bg-opacity- h-10 w-full rounded-sm bg-[#1c1c1c] px-4 pr-10 text-slate-400 outline-none duration-300 placeholder:text-slate-500 focus:drop-shadow-[7px_7px_0_#84cc16]" placeholder="Password" />
          <div class="flex w-full gap-5">
            <button class="bg-opacity- h-10 w-full select-none rounded-sm bg-[#1c1c1c] px-4 text-slate-400 outline-none duration-300 hover:drop-shadow-[7px_7px_0_#84cc16] focus:drop-shadow-[7px_7px_0_#84cc16]">Signup</button>
            <button class="bg-opacity- h-10 w-full select-none rounded-sm bg-[#1c1c1c] px-4 text-slate-400 outline-none duration-300 hover:drop-shadow-[7px_7px_0_#84cc16] focus:drop-shadow-[7px_7px_0_#84cc16]">Login</button>
          </div>
        </div>
      </div>
      <!-- signup -->
      <div class="fixed top-0 left-0 flex hidden h-screen w-full items-center justify-center bg-black bg-opacity-60">
        <div class="fixed flex h-min flex-col items-center space-y-4 border-4 border-accent bg-black p-10 drop-shadow-[7px_7px_0_#84cc16]">
          <div class="relative mb-3 flex w-fit select-none">
            <h1 class="z-20 font-titles text-xl font-semibold tracking-widest text-white">Signup</h1>
            <div class="absolute -z-0 h-1/2 w-full translate-y-4 translate-x-3 bg-slate-700"></div>
          </div>
          <input class="bg-opacity- h-10 w-full rounded-sm bg-[#1c1c1c] px-4 pr-10 text-slate-400 outline-none duration-300 placeholder:text-slate-500 focus:drop-shadow-[7px_7px_0_#84cc16]" placeholder="Username" />
          <input type="password" minlength="10" class="bg-opacity- h-10 w-full rounded-sm bg-[#1c1c1c] px-4 pr-10 text-slate-400 outline-none duration-300 placeholder:text-slate-500 focus:drop-shadow-[7px_7px_0_#84cc16]" placeholder="Password" />
          <input type="password" minlength="10" class="bg-opacity- h-10 w-full rounded-sm bg-[#1c1c1c] px-4 pr-10 text-slate-400 outline-none duration-300 placeholder:text-slate-500 focus:drop-shadow-[7px_7px_0_#84cc16]" placeholder="Repeat Password" />
          <div class="flex w-full gap-5">
            <button class="bg-opacity- h-10 w-full select-none rounded-sm bg-[#1c1c1c] px-4 text-slate-400 outline-none duration-300 hover:drop-shadow-[7px_7px_0_#84cc16] focus:drop-shadow-[7px_7px_0_#84cc16]">Signup</button>
            <button class="bg-opacity- h-10 w-full select-none rounded-sm bg-[#1c1c1c] px-4 text-slate-400 outline-none duration-300 hover:drop-shadow-[7px_7px_0_#84cc16] focus:drop-shadow-[7px_7px_0_#84cc16]">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
