<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="/img/logo.jpg" />
  <style></style>
  <!-- Primary Meta Tags -->
  <title>Start Writing | vinvi.to</title>
  <meta name="title" content="Start Writing | vinvi.to" />
  <meta name="description" content="Let your creativity flow while creating your own short stories, or reading others. Vinvi.to encourages interaction between authors with the state of the art marketplace. " />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.vinvi.to/" />
  <meta property="og:title" content="Start Writing | vinvi.to" />
  <meta property="og:description" content="Let your creativity flow while creating your own short stories, or reading others. Vinvi.to encourages interaction between authors with the state of the art marketplace. " />
  <meta property="og:image" content="/img/thumb.jpg" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="http://www.vinvi.to/" />
  <meta property="twitter:title" content="Start Writing | vinvi.to" />
  <meta property="twitter:description" content="Let your creativity flow while creating your own short stories, or reading others. Vinvi.to encourages interaction between authors with the state of the art marketplace. " />
  <meta property="twitter:image" content="/img/thumb.jpg" />

  <meta name="theme-color" content="#84cc16" />

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="../dist/output.css" />
</head>
<body>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet" />

  <div class="selection:bg-accent selection:text-black">
    <div class="min-h-screen w-screen sm:flex">
      <%- include('../partials/loggedOutSidebar'); %> <%- include('../partials/loggedInSidebar'); %>
      <div class="max-h-screen min-h-screen w-full overflow-hidden overflow-y-auto bg-black">
        <%- include('../partials/topbar') %>
        <!-- section one -->
        <div class="p-5 py-10">
          <form id="storyForm">
            <!-- username + password -->
            <input class="hidden" name="username" />
            <input class="hidden" name="password" />
            <!-- content -->
            <div>
              <div class="relative mb-8 flex w-fit select-none">
                <h1 class="z-20 font-titles text-xl font-semibold tracking-widest text-white">Start Writing</h1>
                <div class="absolute -z-0 h-1/2 w-full translate-y-4 translate-x-3 bg-slate-700"></div>
              </div>
              <div class="flex bg-accent text-center text-white">
                <button onclick="richText()" class="w-full bg-gray-900 p-3 duration-500 hover:-translate-y-2">H1</button>
                <button onclick="richText()" class="w-full bg-gray-900 p-3 duration-500 hover:-translate-y-2">H2</button>
                <button onclick="richText()" class="w-full bg-gray-900 p-3 duration-500 hover:-translate-y-2">P</button>
                <div class="h-full w-5 bg-white"></div>
                <button onclick="richText()" class="w-full bg-gray-900 p-3 font-bold duration-500 hover:-translate-y-2">B</button>
                <button onclick="richText()" class="w-full bg-gray-900 p-3 italic duration-500 hover:-translate-y-2">I</button>
                <button onclick="richText()" class="w-full bg-gray-900 p-3 line-through duration-500 hover:-translate-y-2">S</button>
                <button onclick="richText()" class="w-full bg-gray-900 p-3 duration-500 hover:-translate-y-2"><></button>
                <button onclick="richText()" class="w-full bg-gray-900 p-3 line-through duration-500 hover:-translate-y-2">S</button>
              </div>
              <textarea minlength="10" class="peer h-24 w-full resize-none rounded-sm bg-[#1c1c1c] py-2 px-4 pr-10 text-slate-400 outline-none duration-300 placeholder:text-slate-500 focus:drop-shadow-[7px_7px_0_#84cc16]" name="content" placeholder="Content" required></textarea>
            </div>
            <!-- metadata -->
            <div>
              <input class="my-5 h-10 w-full rounded-sm bg-[#1c1c1c] px-4 pr-10 text-slate-400 outline-none duration-300 placeholder:text-slate-500 focus:drop-shadow-[7px_7px_0_#84cc16]" name="title" placeholder="Title" required />
              <div class="relative">
                <textarea minlength="10" class="peer h-24 w-full resize-none rounded-sm bg-[#1c1c1c] py-2 px-4 pr-10 text-slate-400 outline-none duration-300 placeholder:text-slate-500 focus:drop-shadow-[7px_7px_0_#84cc16]" name="description" placeholder="Description"></textarea>
                <h1 class="absolute bottom-5 right-5 hidden rounded-md bg-accent px-2 py-1 duration-300 peer-focus:block">100</h1>
              </div>
              <!-- the other choose file design is here https://play.tailwindcss.com/7oEALLPll4 -->
              <input type="file" accept="image/*" class="py-3 text-slate-400 file:mr-4 file:h-10 file:select-none file:rounded-sm file:bg-[#1c1c1c] file:px-4 file:text-slate-400 file:outline-none file:duration-300 file:hover:drop-shadow-[7px_7px_0_#84cc16]" name="cover" />
            </div>
            <div class="flex w-full gap-5 pt-5">
              <button class="bg-opacity- h-10 w-full select-none rounded-sm bg-[#1c1c1c] px-4 text-slate-400 outline-none duration-300 hover:drop-shadow-[7px_7px_0_#84cc16] focus:drop-shadow-[7px_7px_0_#84cc16]" formaction="/api/story/new" formmethod="POST" formenctype="multipart/form-data">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="soon" class="fixed duration-300 translate-x-96 bottom-10 right-10 bg-black drop-shadow-[7px_7px_0_#84cc16] p-3 z-50 border-2 border-accent">
        <h1 class="z-20 font-titles text-xl font-semibold tracking-widest text-white">Coming Soon</h1>
    </div>
    
  </div>
  <script src="../script/new-story.js"></script>
</body>
