<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="https://cdn.discordapp.com/emojis/955465895793283073.webp?size=128&amp;quality=lossless" />
  <style></style>
  <!-- Primary Meta Tags -->
  <title>Your Library | vinvi.to</title>
  <meta name="title" content="Your Library | vinvi.to" />
  <meta name="description" content="Let your creativity flow while creating your own short stories, or reading others. Vinvi.to encourages interaction between authors with the state of the art marketplace. " />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.vinvi.to/" />
  <meta property="og:title" content="Your Library | vinvi.to" />
  <meta property="og:description" content="Let your creativity flow while creating your own short stories, or reading others. Vinvi.to encourages interaction between authors with the state of the art marketplace. " />
  <meta property="og:image" content="" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="http://www.vinvi.to/" />
  <meta property="twitter:title" content="Your Library | vinvi.to" />
  <meta property="twitter:description" content="Let your creativity flow while creating your own short stories, or reading others. Vinvi.to encourages interaction between authors with the state of the art marketplace. " />
  <meta property="twitter:image" content="" />

  <meta name="theme-color" content="#2469df" />

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="../dist/output.css" />
</head>
<body>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet" />

  <div class="selection:bg-accent selection:text-black">
    <div class="min-h-screen w-screen sm:flex">
      <%- include('../partials/loggedOutSidebar'); %> <%- include('../partials/loggedInSidebar'); %>
      <div class="max-h-screen min-h-screen w-full overflow-hidden overflow-y-auto bg-black">
        <%- include('../partials/topbar') %>
        <!-- section one -->
        <div class="p-5 py-10">
          <div class="relative mb-3 flex w-fit">
            <h1 class="z-20 font-titles text-xl font-semibold tracking-widest text-white">Your Library</h1>
            <div class="absolute -z-0 h-1/2 w-full translate-y-4 translate-x-3 bg-slate-700"></div>
          </div>
          <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-7 2xl:grid-cols-8 pb-5">
            <div class="group cursor-pointer p-5">
              <div class="aspect-169 w-full rounded-sm bg-blue-200 bg-[url(/publicDb/default.avif)] bg-cover duration-300 ease-in-out hover:drop-shadow-[7px_7px_0_#84cc16] group-hover:drop-shadow-[7px_7px_0_#84cc16]"></div>
              <h1 class="truncate pt-2 font-semibold text-white">Title Something Goes Here</h1>
              <p class="text-sm text-gray-400 line-clamp-3">Description about the site can go here in this long description.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
