<div class="border-t border-gray-700 bg-[#080808] p-5 text-center">
    <h1 class="text-gray-400">Vinvi.to © 2022 -
        <a class="hover:text-accent">Lukas Singer</a> &
        <a href="https://itshoozi.com" target="_blank" class="hover:text-accent">Jeremy Pringle</a>
    </h1>
</div>